<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assignment Suite">  
	<listeners>
        <listener class-name="com.test.odoo.TestListener"/>
    </listeners>
  <test name="Test">    
    <classes>
       <class name="com.test.odoo.AppTest"/>
    </classes>
     
  </test> <!-- Test -->
</suite> <!-- Suite -->